:root{
   /* --primaryColor:#0e6253; */
   --primaryColor:rgb(217, 217, 217);
   --secondaryColor:#ffc107;
   --whiteColor:#fff;
   --blackColor:#222;
   --softGreenColor:#d9f2ee;
   --darkGreyColor:#a7a7a7;
   --greyColor:#f5f5f5;
   --pinkColor:#fad0ee;
   --boxshadow:rgba(149, 157, 165, 0.2)0px 8px 24px;
  --darkGreen: #006600;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:'Open Sans',sans-serif;
   scroll-behavior: smooth;
}
body{
   width: 100%;
   height: auto;
   display: flex;
}
.sider-bar{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 310px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--primaryColor);
   color:var(--blackColor);
   justify-content:space-between;
   padding: 2%;
}
.side-menu{
   display: flex;
   flex-direction:column;
}
.side-menu a, .sideBar-logout a{
   padding:3% 10%;
   display: flex;
   justify-content:flex-start;
   align-items:center;
   margin:1px;
   gap: 1rem;
   color: var(--blackColor);
   text-decoration:none;
   margin: 0.5rem 0;
   font-weight: 500;
   transition:.1s;
}
.side-menu a,ion-icon , .sideBar-logout a{
   font-size:20px;
   font-weight: 500;
  
}
.side-menu a:hover ,.sideBar-logout a:hover{
   color: var(--whiteColor);
   background-color: var(--blackColor);
   border-radius: 50px;
}
.main{
   width: 100%;
   height: max-content;
   padding: 2%;
   margin-left: 300px;
   background-color: var(--greyColor);
   min-height:100vh;
}

.main-navBar{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.main-navBar .menu-toggle{
   display: none;
}
.search-bar{
   width:60%;
   height: 50px;
   justify-content:space-around;
   display: flex;
   background-color: var(--whiteColor);
   border-radius:20px;
   box-shadow:var(--boxshadow);
 
}
.search-bar input{
   width: 80%;
   height: 100%;
   border: none;
   outline: none;
   color: var(--blackColor);
   font-size: 14px;
   padding: 20px;
   border-radius:20px;
}
.search-bar .search-btn{
   border: none;
   border-radius:0px 20px 0px;
   cursor:pointer;
   width: 170px;
   background-color: var(--primaryColor);
   color: var(--blackColor);
   font-weight: 500;
   font-family: 'Open Sans',sans-serif;
   font-size: 14px;
   transition: .4s ease;
}
.search-bar .search-btn:hover{
   background-color: var(--blackColor);
   color: var(--whiteColor);
}
.profile{
   margin-right:5%;
   align-items: center;

}
.cart ,.person{
 background-color: var(--whiteColor);
   color: var(--blackColor);
   padding: 5px 10px;
   border-radius: 50%;
   font-size: 20px;
   height: 40px;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items:center;

   box-shadow:rgba(149, 157, 165, 0.2)0px 8px 24px;
   transition:.4s ease; 
   z-index: 100;
}
.cart:hover,.person:hover,.black:hover,.forward:hover{
   background-color: var(--blackColor);
   color: var(--whiteColor);
}
.hightLight-main{
   background-color: var(--secondaryColor);
   margin: 2% 0;
   padding: 1%;
   border-radius: 8px;
   width: 100%;
   height: 170px;
}
.main-head{
   display: flex;
   justify-content:space-between;
   width: 100%;
}
.main-head h2{
   font-size: 20px;
}
.recom-menu .black,.forward{
   font-size:20px;
   cursor: pointer;
   padding: 10px;
   border-radius:50%;
 
}
.black:hover{
   background-color: var(--blackColor);
   color: var(--whiteColor);
}
.cardWarpper{
  display:flex;

 flex-direction: row;

}
.cardView{
display: flex;
flex-direction: row;
background-color: var(--whiteColor);
width:50%;
border-radius: 10px;
margin: 5px;
}
.cardView img{
width:60px;
   height:100%;
border-radius: 10px 0px 0px 10px;
cursor: pointer;
box-shadow: var(--boxshadow);
object-fit: cover;
}
.cardCat {
   display: flex;
   flex-direction: column;
  justify-content: center;
 padding:2px;
}
.cardCat .productName{
   color: var(--blackColor);
   font-weight: bold;
   margin: 5px;
}
.cardCat .price{
   color: red;
   font-weight: bold;
}
.mainMenu-cat{
  /* background-color:#d9b3ff; */
  background-color: white;
 padding: 5px;
   border-radius: 10px;
   box-shadow: var(--boxshadow);
   display: flex;
   flex-direction: row;
   
}
.mainMenu-cat .menuHead{
   font-size:12px;
   margin:3% 9px 0px 0px;
   padding: 5px;
   text-align:justify;
}
.elctronicCardView{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
 border-radius: 10px;
margin:13px;
padding: 6px 9px;
background-color: var(--whiteColor);
box-shadow: var(--boxshadow);
cursor: pointer;
border:1px solid #f2f2f2;
}
.elctronicCardView .headset{
   color:var(--blackColor);
   font-size: 24px;
   font-weight: bold;
   border-radius:10px;
   padding: 13px 25px;
   background-color:#f2f2f2;
}
.elctronicCardView p{
font-weight: 600;
font-size: 15px;
margin: 5px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.elctronicCardView .headset:hover{
background-color: var(--whiteColor);
color: var(--blackColor);
}
.elctronicCardView:hover{
   background-color: var(--blackColor);
   color: var(--whiteColor);
}
/* product card */
.card-container{
   display: grid;
   grid-template-columns:repeat(4,1fr);
   gap:2%;
   width: 100%;
   margin: 1rem;
   border-radius: 8px;
}
.card{
   min-height: 330px;
   height: 100%;
   background-color: var(--whiteColor);
   box-shadow: var(--boxshadow);
   border-radius: 10px;
  margin: 1% 0;
  
}
.card img{
   width: 100%;
   height:180px;
   cursor: pointer;
   object-fit:fill;
   transition: transfrom 1.2s;
}
.card img:hover{
   transform: scale(1.2);
}
.card-content{
   padding: 5px 10px;
}
.card-content h5{
   font-size: 18px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-content p{
   color: red;
   font-weight: 800;
   padding: 5px;
}
.card-content .des{
   font-size: 12px;
   color: brown;

}
.card-btns{
   display: flex;
   margin: 5px;
   justify-content: space-between;
}
.card-btns .add-btn{
 border: none;
   padding: 5px 10px;
   color: var(--whiteColor);
   background-color: var(--blackColor);
   font-size: 14px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   cursor: pointer;
   font-weight: 600;
}
.card-btns .add-btn:hover{
   background-color: var(--whiteColor);
   color: var(--blackColor);
   border: 2px solid black;
   font-weight:600;
}
.card-btns .buy-btn{
   border: none;
   padding: 5px 10px;
   color: var(--whiteColor);
   background-color: var(--darkGreen);
   font-size: 14px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   cursor: pointer;
   font-weight: 600;
}
.card-btns .buy-btn:hover{
   background-color: var(--whiteColor);
   color: #006600;
   font-weight: 600;
   border: 2px solid #006600;
}